@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  background-color: #005792;
}