.main {
  margin: 0 auto;
  color: #93CEF5;
  font-size: 16px;
  font-weight: 400;
}

.first_cont {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 16px;
  padding: 64px 20px 35px 20px;
  text-align: center;
  background-image: url(../assets/home/mobile\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -80px;

}

.first_cont h1 {
  font-size: 24px;
  font-weight: 600;
}

.first_cont p {
  font-size: 14px;
}

.first_cont span {
  color: #FBFF2B;
}



@media screen and (min-width: 768px) {
  .first_cont {
    position: relative;
    padding: 95px 228px 55px 228px;
    text-align: center;
    background-image: url(../assets/home/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -80px;
  
  }

  .first_cont h1 {
    font-size: 64px;
  }

  .first_cont p {
    font-size: 20px;
  }
 
}